extends c

snippet nsc Namespace declaration with closing comment
	namespace $1
	{

	$0

	} // namespace $1

snippet class
    class $1
    {
    public:
        $0
    };

snippet interface
    class $1
    {
    public:
        virtual ~$1() = default;

    public:
        $0
    };
